@font-face {
    font-family: 'Maragsa';
    src: url('Font/Maragsa-Display.woff2') format('woff2');
  }
@font-face {
    font-family: "Sorts Mill Goudy";
    src: url('Font/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf');
}
html {
    font-family: "Sorts Mill Goudy", serif;
}
header {
    font-family: 'Maragsa';
    font-size: 200px;
    display: inline-block;
}
.filterButtons {
    background: black;
    color: white;
    font-family: 'Maragsa';
    border-radius: 4px;
    height: 20px;
    align-self: center;
}
p#filterHeader {
    display: inline-block;
    font-family: 'Maragsa';
}
#wholeFilter {
font-family: 'Maragsa';
letter-spacing: 1px;
display: flex;
justify-content: flex-start;
}
h2#styleBanner {
    font-family: 'Maragsa';
    font-size: 125px;
    letter-spacing: 1px;
    margin-bottom: 200px;
    display: inline-block;
}
img {
    border-radius: 15px;
    padding: 8px;
    height: 300px;
    width: 225px;
}
.container {
    position: relative;
    text-align: center;
    display: inline-block;
}
.imageText {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    font-family: 'Maragsa';
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
    background-color: rgba(141, 141, 153, .5);
}
#heartButton {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: none;
    padding: 0;
    border: none;
    font-size: 20px;
}
.hidden {
    display: none;
}
form#new-item {
    outline: solid;
    outline-offset: -8px;
    outline-width: thin;
    padding: 20px;
    margin-right: 5px;
    background-color: black;
    color: white;
    display: inline-block;
    width: 96%;
}
fieldset {
    border: 0;
}
.formHeaders{
    float: left;
}
.formOptions {
    float: left;
}
h4 {
    font-family: 'Maragsa';
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 20px;
}
h4#ootd {
    font-size: 40px;
    display: inline-block;
    left:0;
    top:400px;
}
footer {
    display: inline-block;
    bottom: 20px;
    font-family: 'Maragsa';
    font-size: 13px;
    margin-left: 10px;
    margin-top: 30px;
    letter-spacing: 2px;
}
#newImage {
    margin-bottom: 20px;
}
